<h1>*ngIf</h1>
<!-- 情況1 -->
<div *ngIf="isLoggedIn">Welcome, {{user}}</div>
<div *ngIf="!isLoggedIn">Please login to view the content</div>

<!-- 情況2 -->
<div *ngIf="isLoggedIn && false">Login content</div>

<!-- 情況3 -->
<div *ngIf="isLoggedIn; else loggedOut">Welcome back, {{user}}</div>
<ng-template #loggedOut>Please login</ng-template>
<br><br>

<h1>*ngFor</h1>
<ul>
  <li *ngFor="let name of names">{{ name }}</li>
  <li *ngFor="let name of names; let i = index">{{ i }}</li>
</ul>
<br><br>

<h1>*ngSwitch</h1>
<div [ngSwitch] = "grade">
  <p *ngSwitchCase="'A'">Excellent</p>
  <p *ngSwitchCase="'B'">Good</p>
  <p *ngSwitchDefault>Unknown</p>
</div>

